@page "/home"

<PageTitle>Home</PageTitle>

<h1>Oven Log Application</h1>

<p>Welcome to the Oven Log system. Use the navigation menu to access the main form and other features.</p>

<a href="/" class="btn btn-primary">Go to Main Form</a>
